# Local binaries.
/bin/

# Libraries.
/lib/

# Data files.
/var/

# Python files.
*.pyc
*.pyo
*.egg-info

# Tox files.
/.tox/

# Virtualenv files (created by tox).
/build/
/dist/

# Editors' temporary buffers.
.*.swp
*~
