recursive-include django_downloadview *
recursive-include demo *.py *.rst *.html *.json *.txt
global-exclude *.pyc
include AUTHORS
include CHANGELOG
include CONTRIBUTING.rst
include INSTALL
include LICENSE
include README.rst
include VERSION
