recursive-include demo *.py *.rst *.html *.json *.txt
recursive-include docs Makefile *.py *.txt
recursive-include tests *.py
global-exclude *.pyc
include AUTHORS
include CHANGELOG
include CONTRIBUTING.rst
include INSTALL
include LICENSE
include README.rst
include VERSION
