{% load url from future %}
<html>
	<head>
        <title>django-downloadview demo</title>
	</head>
	<body>
        <h1>Welcome to django-downloadview demo!</h1>
		<p>Here are some demo links. Browse the code to see how they are implemented</p>
		<ul>
            <li><a href="{% url 'hello_world' %}">
                Direct download to one file using PathDownloadView.
            </a></li>
            <li><a href="{% url 'fixture_from_path' 'hello-world.txt' %}">
                Download files using PathDownloadView and relative path in URL.
            </a></li>
            <li><a href="{% url 'document' 'hello-world' %}">
                ObjectDownloadView
            </a></li>
            <li><a href="{% url 'download_document_nginx' 'hello-world' %}">
                ObjectDownloadView decorated with nginx X-Accel-Redirect
            </a> to be served behind Nginx</li>
        </ul>
    </body>
</html>
