{% load url from future %}
<html>
	<head>
        <title>django-downloadview demo</title>
	</head>
	<body>
        <h1>Welcome to django-downloadview demo!</h1>
        <p>Here are some demo links. Browse the code to see how they are implemented</p>

        <h2>Serving files with Django</h2>
        <p>In the following views, Django streams the files, no optimization
           has been setup.</p>
		<ul>
            <li><a href="{% url 'hello_world' %}">PathDownloadView</a></li>
            <li><a href="{% url 'fixture_from_path' 'hello-world.txt' %}">
                PathDownloadView + argument in URL
            </a></li>
            <li><a href="{% url 'fixture_from_storage' 'hello-world.txt' %}">
                StorageDownloadView + path in URL
            </a></li>
            <li><a href="{% url 'document' 'hello-world' %}">
                ObjectDownloadView
            </a></li>
            <li><a href="{% url 'http_hello_world' %}">
                HTTPDownloadView</a>, a simple HTTP proxy</li>
        </ul>

        <h2>Optimized downloads</h2>
        <p>In the following views, Django delegates actual streaming to another
           server, for improved performances.</p>
        <p>Since nginx and other servers aren't installed on the demo, you
           will get raw "X-Sendfile" responses. Look at the headers!</p>
        <ul>
            <li><a href="{% url 'download_document_nginx' 'hello-world' %}">
                ObjectDownloadView (nginx)
            </a></li>
        </ul>
    </body>
</html>
